.addThis_listSharing.is-show {
    right: 0;
    opacity: 1;
    visibility: visible;
}

.addThis_listSharing {
    position: fixed;
    bottom: 85px;
    z-index: 999;
    right: -15px;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
}

.addThis_listing .addThis_item {
    margin-bottom: 5px;
    margin-right: 24px;
}

.addThis_listing .addThis_item .addThis_item--icon {
    position: relative;
    display: inline-block;
    text-align: center;
    width: 44px;
    height: 44px;
    line-height: 44px;
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.11);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
}

.addThis_listing .addThis_item .addThis_item--icon .tooltip-text::after {
    content: "";
    width: 0;
    height: 0;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent black;
    position: absolute;
    left: 100%;
    top: 0;
    bottom: 0;
    margin: auto;
    -ms-transition: all 200ms linear;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.addThis_listing .addThis_item .addThis_item--icon .tooltip-text {
    position: absolute;
    top: 4px;
    right: 55px;
    z-index: 9;
    height: 32px;
    line-height: 26px;
    padding: 3px 10px;
    width: auto;
    border-radius: 5px;
    font-size: 11px;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    background-color: black;
    visibility: hidden;
    opacity: 0;
    -ms-transition: all 200ms linear;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

ul,
ol {
    list-style: none;
}

ol,
ul {
    margin-bottom: 10px;
}

dl,
ol,
ul {
    margin-top: 0;
}

img {
    max-width: 100%;
    border-style: none;
}


.quantity {
    float: left;
    margin-right: 15px;
    background-color: #eee;
    position: relative;
    width: 80px;
    overflow: hidden
}

.quantity input {
    margin: 0;
    text-align: center;
    width: 15px;
    height: 15px;
    padding: 0;
    float: right;
    color: #000;
    font-size: 20px;
    border: 0;
    outline: 0;
    background-color: #F6F6F6
}

.quantity input.qty {
    position: relative;
    border: 0;
    width: 100%;
    height: 40px;
    padding: 10px 25px 10px 10px;
    text-align: center;
    font-weight: 400;
    font-size: 15px;
    border-radius: 0;
    background-clip: padding-box
}

.quantity .minus, .quantity .plus {
    line-height: 0;
    background-clip: padding-box;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-background-size: 6px 30px;
    -moz-background-size: 6px 30px;
    color: #bbb;
    font-size: 20px;
    position: absolute;
    height: 50%;
    border: 0;
    right: 0;
    padding: 0;
    width: 25px;
    z-index: 3
}

.quantity .minus:hover, .quantity .plus:hover {
    background-color: #dad8da
}

.quantity .minus {
    bottom: 0
}
.shopping-cart {
    margin-top: 20px;
}

.pull-left{
    margin-left: 160px;
}
body {
    background: rgb(99, 39, 120)
}

.form-control:focus {
    box-shadow: none;
    border-color: #BA68C8
}

.profile-button {
    background: rgb(99, 39, 120);
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #682773
}

.profile-button:focus {
    background: #682773;
    box-shadow: none
}

.profile-button:active {
    background: #682773;
    box-shadow: none
}

.back:hover {
    color: #682773;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.success{
    color: green;
}

.error{
    color: red;
}