<!-- Page Content -->
<div class="container">

    <div class="row">

        <div class="col-lg-3">

            <h1 class="my-4">VDV</h1>
            <div class="list-group">
                <a href="/products/?productId=5fc905bf69c6dd109c327684" class="list-group-item">TOP</a>
                <a href="/products/?productId=5fc905e569c6dd109c327685" class="list-group-item">PANTS & SHORTS</a>
                <a href="/products/?productId=5fc905f569c6dd109c327686" class="list-group-item">SKIRTS</a>
                <a href="/products/?productId=5fc9060d69c6dd109c327687" class="list-group-item">JACKETS</a>
                <a href="/products/?productId=5fc9062269c6dd109c327688" class="list-group-item">DRESSES</a>
                <a href="/products/?productId=5fc9063b69c6dd109c327689" class="list-group-item">ACCESSORIES</a>
                <a href="/products/?productId=5fc9064c69c6dd109c32768a" class="list-group-item">SETS</a>
                <a href="/products/?productId=5fc9065a69c6dd109c32768b" class="list-group-item">BOTTOMS</a>
            </div>

        </div>
        <div class="col-lg-9">

            <div class="card mt-4">
                <img class="card-img-top img-fluid" src="{{imgSrc}}" alt="">
                <div class="card-body">
                    <h3 class="card-title">{{nameProduct}}</h3>
                    <h4>{{price}}</h4>
                    <p class="card-text">{{productDescription}}</p>
                    <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
                    4.0 stars
                </div>
            </div>
            <!-- /.card -->

            <div class="card card-outline-secondary my-4">
                <div class="card-header">
                    Product Reviews
                </div>
                <div class="card-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
                    <small class="text-muted">Posted by Anonymous on 3/1/17</small>
                    <hr>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
                    <small class="text-muted">Posted by Anonymous on 3/1/17</small>
                    <hr>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
                    <small class="text-muted">Posted by Anonymous on 3/1/17</small>
                    <hr>
                    <a href="#" class="btn btn-success">Leave a Review</a>
                </div>
            </div>
            <!-- /.card -->

        </div>
        <!-- /.col-lg-9 -->
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->